/* Media queries. */
@media screen and ( width <= 725px ) {
    body {
        font-size: 1.0em;
    }
    .content:before {
        left: 45px;
    }
    .top-panel, .middle-panel, .bottom-panel, .time-panel {
        padding-left: 50px;
    }
    .container, .footer {
        max-width: 96%;
    }
    .modal-content {
        max-width: 80%;
    }
    .copyright {
        left: 20%;
    }
}

@media screen and ( width >= 725px ) {
    body {
        font-size: 1.2em;
    }
    .content:before {
        left: 80px;
    }
    
    .top-panel, .middle-panel, .bottom-panel, .time-panel {
        padding-left: 85px;
    }
    .container, .footer {
        max-width: 720px;
    }
    .modal-content {
        max-width: 600px;
    }
    .copyright {
        left: 32%;
    }
}

/* General components style starts. */
body {
    min-height: 100%;
    margin: 0;
    background-color: #B7B7B7;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    box-shadow: 5px 3px 4px #303030;
    display: flex;
    flex-direction: column;
}

.content:before {
    content: '';
    width: 2px;
    height: 100%;
    top: 0px;
    position: absolute;
    background-color: rgba(255,0,0,0.6);
    z-index: 2;
}

.container, .footer {
    margin: 10px auto;
    position: relative;
    width: 100%;
}

.footer {
    margin-top: 8px;
}
/* General components style ends. */

/* Top components style starts. */
.top-panel {
    display: flex;
    flex-direction: row;
    min-height: 60px;
    background-color: #FFF;
}

.top-qual {
    margin-left: -1px;
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 2px 1px 2px 2px #E8E8E8;
    z-index: 1;
}

.time-panel {
    padding-top: 10px;
    background-color: #FFF;
    min-height: 40px;
}

.time-text {
    color: grey;
    font-weight: bold;
}

.parameter-key-text {
    margin: 8px;
    color: brown;
    font-weight: bold;
}

.paramter-value-text {
    margin: 4px 0 auto 8px;
}
/* Top components style ends. */

/* Middle components style starts. */
.middle-panel {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.event-message-window {
    flex-grow: 1;
    margin: 0 5px;
}

.event-message {
    font-size: 18px;
    margin-top: 5px;
    line-height: 25px;
}

a.event-option-btn {
    text-align: center;
    display: block;
    margin: 8px;
    border: 3px dashed grey;
    color: brown;
    font-size: 18px;
    background-color: #FFF;
}

a.event-option-btn:hover {
    border: 3px brown;
    border-style: dashed solid solid solid;
    color: #000;
}

a.event-option-btn:active {
    border: 3px brown;
    border-style: solid solid solid solid;
    color: #000;
}
/* Middle component style ends. */

/* Bottom component style starts. */
.bottom-panel {
    min-height: 120px;
    background-color: #FFF;
    position: relative;
}

ul {
    margin-top: 0;
    position: relative;
    list-style: none;
    padding: 3px 0 2px 25px;
}

li.diamond {
    position: relative;
    padding: 2px 0 2px 18px;
}

li.diamond::before {
    content: "";
    position: absolute; 
    left: 0px; 
    top: 2px; 
    border: 5px solid transparent; 
    border-bottom-color: brown;
  }
  
li.diamond::after { 
    content: ""; 
    position: absolute; 
    left: 0px; 
    top: 12px; 
    border: 5px solid transparent; 
    border-top-color: brown;
}

img.su-seal {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 120px;
    opacity: 0.1;
}
/* Bottom component style ends. */

/* Footer component style starts. */
.copyright {
    position: absolute;
    top: 0;
    margin: 0;
    color: brown;
    font-weight: 600;
}

.mylink {
    color: #260026;
    cursor: auto;
}

#rule-btn {
    text-decoration: underline;
    position: absolute;
    top: 0;
    right: 10px;
    color: brown;
    font-weight: 600;
}

/* Footer toggle button css starts. */
.lang-switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 30px;
    left: 10px;
}

.lang-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    border-radius: 50%;
    transition: 0.4s, 0.4s background-position;
    z-index: 2;
}

input:checked + .slider {
    background-color: #CCC;
}

input:focus + .slider {
    box-shadow: 0 0 1px #CCC;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.switch-text {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    font-size: 12px;
    z-index: 1;
    font-weight: bold;
}

.switch-text-left {
    margin-left: 8px
}

.switch-text-right {
    margin-left: 32px
}
/* Footer toggle button css ends. */
/* Footer component style ends. */

/* Modal style starts. */
.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.modal-content {
    background-color: #FFF;
    margin: auto;
    padding: 20px;
    border: 1px solid brown;
}
/* Modal style ends. */